@use '@/styles/typography' as *;


.tabs {
    display: flex;
    flex-direction: row;
    align-items: center;

    &[aria-orientation="vertical"] {
        flex-direction: column;
        width: fit-content;
    }

    &,
    &[data-variant="pill"] {

        &,
        &[data-size="md"] {
            gap: var(--spacing-xs);
        }

        &[data-size="sm"] {
            gap: var(--spacing-2xs);
        }
    }

    &[data-variant="underline"] {

        &,
        &[data-size="md"] {
            gap: var(--spacing-xl);
        }

        &[data-size="sm"] {
            gap: var(--spacing-l);
        }
    }
}
