@use '@/styles/_tokens.scss';

@mixin body-medium {
    font-size: 14px;
    line-height: 150%;
    font-family: var(--font-family);
}

@mixin body-small {
    font-size: 12px;
    line-height: 150%;
    font-family: var(--font-family);
}