@mixin body-medium {
    font-size: var(--font-size-body-md);
    line-height: var(--line-height-body-md);
    font-family: var(--font-family);
}

@mixin body-small {
    font-size: var(--font-size-body-sm);
    line-height: var(--line-height-body-sm);
    font-family: var(--font-family);
}